.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  border: 2px solid #333;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  background-color: #f5f5f5;
  padding: 20px;
  text-align: center;
}

.display {
  font-size: 24px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: black;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

button {
  font-size: 18px;
  padding: 10px;
  border: none;
  background-color: #eee;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
}

button.operator {
  background-color: #f44336;
  color: white;
}

button.clear {
  background-color: #2196F3;
  color: white;
}

button.operator:hover {
  background-color: #b71c1c;
}

button.clear:hover {
  background-color: #1976D2;
}

button:active {
  transform: scale(0.98);
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
}

